= render partial: 'main_header'
.trend
  .trend__contents
    .trend-contents__title
      トレンド
    .trend-contents__trends
      .trend-contents__trends__title
        人気のカテゴリー
      .trend-contents__trends__ranking
        .trend-contents__trends__ranking__rank
          .trend-contents__trends__ranking__rank
            .trend-contents__trends__ranking__rank__iconarea
              .trend-contents__trends__ranking__rank__iconarea__icon
            .trend-contents__trends__ranking__name
    .trend-contents__grapharea
      .trend-contents__grapharea__graph
= render partial: 'main_footer'
= render partial: 'sell_btn'