= render partial: '/items/main_header'
.graphs
  .graphs__title
    トレンドワード
  .graphs__contents
    .graphs__contents__trends
      .graphs__contents__trends__title
        人気のカテゴリー
      .graphs__contents__trends__ranking
        .graphs__contents__trends__ranking__rank
          .graphs__contents__trends__ranking__rank__iconarea
            .graphs__contents__trends__ranking__rank__iconarea__icon
              A
          .graphs__contents__trends__ranking__rank__name
            トップス
    .graphs-contents__grapharea
      .graphs-contents__grapharea__graph
= render partial: '/items/main_footer'
= render partial: '/items/sell_btn'