.admin-item-all
  .admin-item-all__head
    .admin-item-all__head--title
      出品一覧
    
    .admin-item-all__head--link
      = link_to admin_index_path do
        戻る


  .admin-item-all__items
    - @items.each do |item|
      -if item.level == 1
        .admin-item-all__items__grid__item
          = image_tag item.images.first.image.url, class: "admin-item-all__items__grid__item__image"
          .admin-item-all__items__grid__item__price
            ¥
            = item.price
          .admin-user-all__items__grid__item__name
            = item.name