.nav
  .nav__box
    = link_to "#", class: "nav__box__link" do
      メルカリ ＞
    = link_to "#", class: "nav__box__link" do
      マイページ ＞
    = link_to "#", class: "nav__box__link nav__box__link--here" do
      ログアウト
.log_out
  .log_out__contents
    = link_to "#", class: "log_out__botton" do
      ログアウト