%nav.bread__crumbs
  %ul.bread__crumbs__list
    %li{itemscope: "", itemtype:"http://data-vocabulary.org/Breadcrumb"}
      %a{href: "https://www.mercari.com/jp/", itemprop: "url"}
        %span{itemprop: "title"} メルカリ
      %i.fas.fa-chevron-right
    %li{itemscope:  "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %a{href: "https://www.mercari.com/jp/mypage/", itemprop: "url"}
        %span{itemprop: "title"} マイページ
      %i.fas.fa-chevron-right
    %li{itemscope:"", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %a{href: "https://www.mercari.com/jp/mypage/card/", itemprop: "url"}
        %span{itemprop: "title"} 支払い方法
      %i.fas.fa-chevron-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span.right__text{itemprop: "title"} クレジットカード情報入力
