.admin-item-all{
  padding: 50px;
  &__head{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    a{
      color: #ea352d;
    }
  }
  .admin-item-all__items{
    padding: 50px;
    &__grid__item{
      float: left;
      margin: 20px;
      border: black 1px solid;
      &__image{
      height: 250px;
      width: 180px;
      }
    }
  }
}

