.item-buy-contents{
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);

  &__main{
    margin: 0 auto;
    width: 700px;
    background-color: #fff;

    &__header{
      text-align: center;
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
    }

    &__purchase-goods{
      padding: 32px 16px;
      border-top: 1px solid #eee;
  
      &__box{
        display: flex;
        margin: 0 auto;
        width: 350px;
      }
  
      &__left--image{
        height: 80px;
        width: 80px;
        border: 1px solid;
      }
  
      &__right{
        margin-left: 20px;
        font-size: 14px;
  
        &--item-name{
          padding-top: 10px;
        }
  
        &--item-price{
          padding-top: 10px;
          font-weight: bold;
        }
      }
    }

    &__buy-item{
      padding: 32px 16px;
      border-top: 1px solid #eee;
  
      &__box{
        width: 350px;
        margin: 0 auto;

        &__price{
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        &__price--point{
          color: gray;
          line-height: 10px;
          margin-bottom: 30px;
        }

        &__pay-method{
          padding-top: 20px;
          border-top: 1px solid #eee;
          font-size: 15px;
    
          &--text{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 15px;
          }
    
          &__logo{
            margin-bottom: 20px;
            &--image{
              width: 26px;
              height: 20px;
            }
          }
    
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }

        &__area{
          border-top: 1px solid #eee;
          font-size: 15px;
          margin-bottom: 20px;
    
          &--text{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 15px;
           padding-top: 16px;
          }
    
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }

        &__submit{
          padding-top: 25px;
          border-top: 1px solid #eee;
    
          &--button{
            width: 100%;
            height: 48px;
            background-color: red;
            color: white;
          }
        }
      }
    }
  }
}