body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.header {
  height: 128px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  &__logo{
    width: 185px;
    height: 48px;
    margin: 0 auto;
    padding-top: 40px;
    &--link{
      display: block;
    }
  }
}

.contents {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100%;

  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  &__main{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;

    &__header{
      text-align: center;
      font-size: 22px;
      height: 97px;
      line-height: 97px;
    }

    &__image {
      border-top: 1px solid #eee;
      padding: 40px;
      font-size: 13px;
      &__head{
        font-size: 16px;
        display: flex;
        font-weight: bold;
      }
      &__box{
        width: 100%;
        box-sizing: border-box;
        &__upper {
          display: grid;
          grid-template-rows: repeat(1, 167px);
          grid-template-columns: repeat(5, 125px);
          &__previews {
            width: 620px;
            height: 162px;
            background-color: red;
            max-width: 620px;
            grid-gap: 5px;
            // display: flex;
            // flex-wrap: wrap;
            display: none;
            &__preview {
              &__image {
                .input_images {
                  vertical-align: bottom;
                }
              }
              &__delete {
                color: #0099E8;
                background-color: #F5F5F5;
                padding: 10px 9px;
                text-align: center;
                border: 1px solid #EEEEEE;

              }
            }
          }
          &__uploader {
            border: 1px dashed #ccc;
            background-color: #F5F5F5;
            background-color: rgb(255, 251, 149);
            width: 500%;
            height: 160px;
          }
        }
      }
    }
    #previews {
    display: flex;
    }
    
    &__name{
      border-top: 1px solid #eee;
      padding: 40px;
      &__name-content{
        font-size: 15px;
        font-weight: bold;
      }
      &__name-content__item-name{
        display: flex;
      }
      &__name-content__item-nameform{
        width: calc(100% - 20px);
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        border: solid 1px #ccc;
        padding: 0px 10px;
        margin-top: 5px;
        font-weight: normal;
      }
      &__item-exp{
        font-size: 15px;
        display: flex;
        font-weight: bold;
        margin-top: 40px;
      }
      &__name-content__item-expform{
        width: calc(100% - 20px);
        border-radius: 4px;
        font-size: 16px;
        border: solid 1px #ccc;
        padding: 20px;
        margin-top: 5px;
        min-height: 104%;
        padding: 10px;
        line-height: 1.5;
      }
    }
    &__detail{
      border-top: 1px solid #eee;
      padding: 10px 40px 40px;
      &__left{
        margin-top: 30px;
        float: left;
        color: gray;
      }
      &__right{
        float: right;
        width: 400px;
        right: 0;
        &__name{
          display: flex;
          font-weight: bold;
          margin-top: 30px;
          &--icon {
            padding: 2px 4px;
            background-color: red;
            font-size: 12px;
            vertical-align: top;
            border-radius: 2px;
            margin-left: 8px;
            color: white;
            vertical-align: top;
          }
          &--any {
            padding: 2px 4px;
            background-color: #dddddd;
            font-size: 12px;
            vertical-align: top;
            border-radius: 2px;
            margin-left: 8px;
            color: white;
          }
        }
        &__select {
          position: relative;
          margin-top: 10px;
          width: calc(100% - 10px);
          height: 48px;
          &__form{
            position: relative;
            width: 100%;
            height: 48px;
            border-radius: 4px;
            font-size: 16px;
            border: solid 1px #ccc;
            padding-left: 10px;
            background-color: white;
          }
          &--icon {
            position: absolute;
            background-color: white;
            pointer-events: none;
            color: #acacac;
            font-size: 24px;
            right: 5px;
            top: 12px;
          }
        }
        &__status{
          padding-top: 30px;
        }
        &__status__lab{
          display: flex;
          font-weight: bold;
        }
        &__status__statusform{
          position: relative;
          padding-top: 10px;
        }
        &__status__statusform--form{
          width: calc(100% - 10px);
          height: 48px;
          border-radius: 4px;
          font-size: 16px;
          border: solid 1px #ccc;
          padding-left: 10px;
        }
        &__status__statusform--icon{
          position: absolute;
          right: 10px;
          top: 30px;
        }
      }
    
    }

    &__delivery{
      border-top: 1px solid #eee;
      padding: 40px;

      &__left{
        float: left;
        color: gray;
        font-size: 14px;
      }

      &__right{
        float: right;
        width: 400px;
      }
      

      &__left--question{
        border-radius: 50%;
        background-color: #0099e8;
        color: #fff;
        width: 15px;
        height: 15px;
        font-size: 12px;
        text-align: center;
        line-height: 15px;
        display: inline-block;
      }

      a{
        text-decoration: none;
      }

      &__right__burden{
        display: flex;
        font-weight: bold;
      }
      &__right__burdenform{
        position: relative;
        padding-top: 10px;
      }

      &__right__burdenform--form{
        width: calc(100% - 10px);
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        border: solid 1px #ccc;
        padding-left: 10px;
      }

      &__right__burdenform--icon{
        position: absolute;
        right: 10px;
        top: 30px;
      }

      &__right__shipping-area{
        display: flex;
        font-weight: bold;
        padding-top: 30px;
      }
      &__right__shipping-area-form{
        position: relative;
        padding-top: 10px;
      }

      &__right__shipping-area-form--form{
        width: calc(100% - 10px);
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        border: solid 1px #ccc;
        padding-left: 10px;
      }

      &__right__shipping-area-form--icon{
        position: absolute;
        right: 10px;
        top: 30px;
      }

      &__right__shipping-period{
        display: flex;
        font-weight: bold;
        padding-top: 30px;
      }
      &__right__shipping-periodform{
        position: relative;
        padding-top: 10px;
      }

      &__right__shipping-periodform--form{
        width: calc(100% - 10px);
        height: 48px;
        border-radius: 4px;
        font-size: 16px;
        border: solid 1px #ccc;
        padding-left: 10px;
      }

      &__right__shipping-periodform--icon{
        position: absolute;
        right: 10px;
        top: 30px;
      }   
    }

    &__price{
      border-top: 1px solid #eee;
      padding: 40px;
    }

    &__price__left{
      float: left;
      color: gray;
      font-size: 14px;
    }

    &__price__right{
      float: right;
      width: 400px;
    }
    
    &__price__right__box__price{
      display: flex;
      font-weight: bold;
      position: relative;
      padding-bottom: 5px;
      line-height: 43px;
      margin-bottom: 25px;
    }

    &__price__right__box__price--icon{
      padding: 2px 4px;
      background: red;
      font-size: 12px;
      vertical-align: top;
      border-radius: 2px;
      margin-left: 8px;
      color: white;
      background-position-y: center;
      line-height: 25px;
      height: 25px;
    }

    &__price__right__box__price--form{
      position: absolute;
      right: 0;
      font-weight: normal;
    }

    &__price__right__box__price--form-input{
      height: 48px;
      border-radius: 4px;
      text-align: right;
      padding-right: 20px;
    }

    &__price__right__box__fee{
      border-top: solid 1px #ccc;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &__price__right__box__fee__left{
      float: left;
    }

    &__price__right__box__fee__right{
      float: right;
    }

    &__price__right__box__profit{
      border-top: solid 1px #ccc;
      padding-top: 15px;
      font-weight: bold;
    }
    
    &__price__right__box__profit__left{
      float: left;
    }

    &__price__right__box__profit__right{
      float: right;
    }

    &__submit{
      padding: 40px;
    }

    &__submit--text{
      font-size: 14px;
    }

    &__submit--button{
      width: 100%;
      height: 50px;
      background-color: red;
      color: white;
      margin-top: 40px;
    }

    &__submit--return{
      width: 45%;
      height: 50px;
      margin: 0 auto;
      background-color: gray;
      color: white;
      position: relative;
      margin-top: 20px;
    }

    &__submit--return--button{
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      text-align: center;
      line-height: 50px;
    }

    a{
      text-decoration: none;
      color: white;
    }
  }
}

.footer{
  background-color: rgb(245, 245, 245);

  &__contents{
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }

  a{
    color: #333;
    text-decoration: none;
  }

  &__contents__links{
    display: block;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 20px;
  }

  &__contents__logo{
    height: 75px;
    width: 90px;
    margin: 0 auto;
    padding-top: 50px;
  }

  &__contents__logo--image{
    width: 100%;
    height: 100%;
  }

  &__contents__inc{
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
  }
}
.contents__main__name__name-content__item-expform {
  padding: 10px;
  height: 100px;
}