.item-detail__contents{
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding-top: 40px;
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  &__center{
    margin: 0 auto;
    width: 700px;
    background-color: #fff;
    padding: 40px;
    &__head{
      font-size: 24px;
      text-align: center;
    }
    &__detail{
      margin: 16px 0px 0px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      &__left{
        width: 300px;
        height: 100%;
        &__sub-images{
          width:300px;
          height:120px;
        }
      }
      .show_main_image{
        height: 300px;
        width: 300px;
      }
      .thumbnail{
        width: 60px;
        height: 60px;
        float: left;
      }

      &__right{
        width: 300px;
        height: 100%;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        &__user-rate--icon{
          display: flex;
          justify-content: flex-start;
          margin: 5px;
          &--good{
            display: flex;
            &--left{
              color: pink;
              margin-right: 3px;
            }
          }
          &--meh{
            margin-left: 20px;
            display: flex;
            &--left{
              color: orange;
              margin-right: 3px;
            }
          }
          &--sad{
            margin-left: 20px;
            display: flex;
            &--left{
              color: rgb(121, 192, 233);
              margin-right: 3px;
            }
          }
        }
        th{
          width: 40%;
          text-align: center;
          padding: 8px;
          border: 1px solid #f5f5f5;
          background-color: rgb(250, 246, 246);
        }
        td{
          width: 60%;
          padding: 8px;
        }
        tr{
          border-collapse: collapse;
        }
        table{
          width: 100%;
          font-size: 15px;
          border: 1px solid #f5f5f5;
        }
      }
    }

    &__price{
      padding-top: 20px;
      display: flex;
      justify-content: center;
      &__price{
        font-size: 50px;
        margin-right: 10px;
      }
      &__tax{
        font-size: 10px;
        line-height: 80px;
      }
      &__fee{
        font-size: 16px;
        line-height: 80px;
      }
    }

    &__submit{
      padding-top: 10px;
      width: 100%;
      text-align: center;
      background-color: red;
      height: 56px;
      line-height: 40px;

      &--button{
        width: 100%;
        height: 55px;
        color: white;
        font-size: 30px;
        padding: 10px 160px;
        // padding-right: 160px;
      }
    }

    &__description{
      padding-top: 20px;
      &__description{
        font-size: 18px;
      }
      &__icons{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        font-size: 14px;
        &__left{
          display: flex;
          &__likes{
            border-radius: 40px;
            display: flex;
            background-color: rgb(241, 240, 240);
            padding: 8px 12px;
            &--icon{
              margin-right: 5px;
              line-height: 20px;
              color: rgb(197, 195, 195);
            }
            &__text{
              margin-right: 5px;
            }
            &--num{
              line-height: 20px;
            }
          }
          &__flag{
            display: flex;
            margin-left: 25px;
            padding: 8px 12px;
            background-color: rgb(241, 240, 240);
            border-radius: 40px;
            display: flex;
            &--icon{
              margin-right: 5px;
              line-height: 20px;
            }
          }
        }
        &__right{
          display: flex;
          padding: 8px 0px;
          a{
            color: rgb(121, 192, 233);
          }
          &__content{
            display: flex;
            &--icon{
              margin-right: 8px;
            }
          }
        }
      }
      
      
    }

    &__message-form{
      margin: 0 auto;
      width: 700px;
      background-color: #fff;
      margin-bottom: 10px;
      &__comments-sec{
        display: flex;
        height: 100%;
        padding: 30px;
        &__left{
          
          &__image{
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
        &__right{
          margin-left: 10px;
          width: 100%;
          display: block;
          &__contents{
            &__comment{
              padding: 15px;
              border-radius: 15px;
              margin: 10px;
              background-color: rgb(233, 233, 230);
              word-break: break-all;
              &--text{
                margin-bottom: 20px;
                width: 90%;
              }
              &--time{
                color: rgb(151, 150, 149);
              }
            }
          }
        }
        
      }
      &__text{
        font-size: 12px;
        color: rgb(230, 116, 150);
        padding: 2px;
        margin: 20px auto;
        width: 640px;
        background-color: #fff;
        padding: 40px;
      }
      &--form{
        margin-top: 10px;
        width: calc(100% - 7px);
        padding: 10px;
        height: 100px;
      }
      &__submit--button{
        width: 100%;
        height: 50px;
        background-color: rgb(167, 164, 164);
        color: white;
      }
    }

    &__change-page{
      padding: 20px 10px;
      margin: 0 auto;
      width: 700px;
      display: flex;
      justify-content: space-between;
      a{
        color: #0099e8;
      }
      &__left{
        display: flex;
        font-size: 14px;
        &--icon{
          font-weight: bold;
          margin-right: 8px;
        }
      }
      &__right{
        display: flex;
        font-size: 14px;
        &--icon{
          font-weight: bold;
          margin-left: 8px;
        }
      }
    }

    &__sns-links{
      padding-top: 10px;
      margin: 0 auto;
      width: 700px;
      background-color: #fff;
      padding: 32px 0 24px;
      margin-bottom: 20px;
      &--icon{
        display: flex;
        justify-content: center;
        i{
          margin: 4px;
        }
      }
    }

    &__owner-items{
      padding-top: 10px;
      margin: 0 auto;
      width: 700px;
      padding: 32px 0 24px;
      &__head{
        font-size: 22px;
        font-weight: bold;
      }
      a{
        color: rgb(121, 192, 233);
      }
      &__sec{
        padding-top: 15px;
        &__box{
          width: 220px;
          height: 100%;
          background-color: white;
          float: left;
          margin: 6px;
          a{
            color: black;
          }
          &--image{
            height: 220px;
            width: 220px;
          }
          &__name{
            padding: 10px 16px 10px;
          }
          &__price{
            padding: 10px 16px 25px;
          }
        }
      }
    }

    &__relatede-items{
      padding-top: 10px;
      margin: 0 auto;
      width: 700px;
      padding: 32px 0 24px;
      &__head{
        font-size: 22px;
        font-weight: bold;
      }
      a{
        color: rgb(121, 192, 233);
      }
      &__sec{
        padding-top: 15px;
        &__box{
          width: 220px;
          height: 100%;
          background-color: white;
          float: left;
          margin: 6px;
          a{
            color: black;
          }
          &--image{
            height: 220px;
            width: 220px;
          }
          &__name{
            padding: 10px 16px 10px;
          }
          &__price{
            padding: 10px 16px 25px;
          }
        }
      }
    }
  }
}