= render 'items/items-header'

.parchase-done__main
  .parchase-done__main__content
    .parchase-done__main__content__text
      %span 購入手続きが完了しました！

    .parchase-done__main__content__link
      = link_to root_path do
        トップページへ戻る

= render 'items/items-footer'