.popular_categories
  .popular_categories__contents
    .popular_categories__contents__title
      人気のカテゴリー
    .popular_categories__contents__categories
      = link_to "#", class: "popular_categories__contents__categories__tag" do
        レディース
      = link_to "#", class: "popular_categories__contents__categories__tag" do
        メンズ
      = link_to "#", class: "popular_categories__contents__categories__tag" do
        家電・スマホ・カメラ
      = link_to "#", class: "popular_categories__contents__categories__tag" do
        categories.name