.show_transactions_contents{
  &__head{
    
  }
  &__center{
    display: flex;
    padding: 20px;
    &__side_bar{
    }
    &__items{
      float: left;
    }
  }
  &__footer{

  }
}
.mypage-imagebox {
  height: 300px;
}

.soldout-mypage {
  width: 50px;
  position: absolute;
  top: 0px;
  border-top: 18px solid #ea352d;
  border-right:20px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 52px solid #ea352d;
  &__name {
    width: 70px;
    position: absolute;
    top: -15px;
    left: -55px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transform: rotate(-45deg);
    overflow: hidden;
  }
}
